body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0; padding: 0;
}
input, button {
    font-family: inherit;
    outline: none;
}
@media (max-width: 500px) {
    .center-box, .center-card { max-width: 99vw !important; padding: 2vw 2vw 3vw 2vw !important;}
    #login-cam, #register-cam { width: 96vw !important; height: auto !important;}
}
